
<mat-card class="cvc-card">
    <mat-card-header class="cvc-header">
      <mat-card-title class="cvc-title">Nice place!! Please verify the details</mat-card-title>
    </mat-card-header>
  <mat-card-content class="cvc-content">
    <form class="cvc-form" role="form" [formGroup]="form">
  
      <mat-form-field appearance="fill" class="cvc-formfield">
        <mat-label>No of bedrooms</mat-label>
        <mat-select placeholder="No of bedrooms" formControlName="bedroomsControl" required >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let bedrooms of bedroomss" [value]="bedrooms.name" required>
            {{bedrooms.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="bedroomsControl.hasError('required')">Please choose a value</mat-error>
        <!-- <mat-error *ngIf="bedroomsControl.hasError('invalidValue')">Please choose any other</mat-error> -->
       
      </mat-form-field>
<br>
<mat-form-field appearance="fill" class="cvc-formfield">
  <mat-label>No of bathrooms</mat-label>
    <mat-select placeholder="No of bathrooms" formControlName="bathroomsControl" required >
      <mat-option>--</mat-option>
      <mat-option *ngFor="let bathrooms of bathroomss" [value]="bathrooms.name">
        {{bathrooms.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="bathroomsControl.hasError('required')">Please choose a value</mat-error>
   <!--<mat-error *ngIf="bathroomsControl.hasError('invalidValue')">Please choose any other</mat-error> -->
  </mat-form-field>
<br>
<mat-form-field appearance="fill" class="cvc-formfield">
  <mat-label>Squarefeet</mat-label>
    <mat-select placeholder="No of squarefeet"formControlName="squarefeetControl" required >
      <mat-option>--</mat-option>
      <mat-option *ngFor="let squarefeet of squarefeets" [value]="squarefeet.name">
        {{squarefeet.name}}
      </mat-option>
    </mat-select>
   <mat-error *ngIf="squarefeetControl.hasError('required')">Please choose a value</mat-error>
      <!--<mat-error *ngIf="squarefeetControl.hasError('invalidValue')">Please choose any other</mat-error> -->
  </mat-form-field>

  <mat-form-field appearance="fill" class="cvc-formfield">
    <mat-select placeholder="Selling in" formControlName="sellinginControl" required >
      <mat-option>--</mat-option>
      <mat-option *ngFor="let sellingin of sellingins" [value]="sellingin.name">
        {{sellingin.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="sellinginControl.hasError('required')">Please choose a value</mat-error>
  </mat-form-field>
  

  
  <br>
      <button type="submit" id="cvc-search" mat-raised-button [disabled]="!form.valid"  color="primary" (click)="onFirstSubmit()" >Calculate my value</button><br><br>
    </form>
</mat-card-content>
</mat-card>&nbsp;
<div class="container">
  <div class="row">
    <div class="col-md-3 cvc-realtor">
      <div>Your Report will be<br> prepared by a Realtor®.<br>Sam Farmaha Realtor®<br> Direct Line 416 951 2158.<br><a routerLink="/policy" target="_blank">Privacy Policy | Terms of Service</a></div> 


    </div>
    <div class="col-md-6">
      <img mat-card-image id="cvc-century" src="assets/images/century21-1.png" alt="Photo of Century21">  
      
  </div>
  <div class="col-md-3 cvc-albinon">
    <div> 1780 Albinon Road,<br> Unit #3 ON M9V 1C1<br>Call: 416-742-8000<br>Fax: 416-742-8001</div> 


</div>

</div>
</div>