.cvc-card {
    
    height: 100%;
    background-color: violet;
    background: url("https://cdn.pixabay.com/photo/2015/03/26/09/41/condominium-690086_1280.jpg")no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    margin-left: 0px;
 }
 .cvc-realtor{
    font-size: 18px;
    padding-top: 10px;
}

 .cvc-header{
     height: 10%;
 }
 .cvc-title{
    margin: auto;
    width: 100%;
    padding: 10px;
    font-size: 30px;
    font-weight: 600px;
    padding-top:10px ; 
    color: whitesmoke;
}

.cvc-content, .cvc-header{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%
}

.cvc-formfield{
    width: 100%;
    font-size: 18px;
    align-content: center;
    color: black;
    padding: 5px;
}

#mySelectId{
    width: 100%;
    font-size: 18px;
}

#cvc-search{
    width: 50%;
    background-color:#0081c9;
    position: relative;

left: 20%;

padding: 5px 2px;
font-size: 20px;

}

.cvc-checkbox{
    font-size: 13px;
}

.test-col{
    font-size: 15px;
    color:black;
}


.cvc-form{
    background-color: snow;
     width: 50% !important;
    padding:10px;
    height: auto;
}

.cvc-formnameemail{
    text-decoration-color: black;
}

#cvc-century{
    width:50%;
}

.col-md-6{
    text-align: center;
    margin-top: 10px;

}

.container{
    height: 50px;
}

.cvc-checkbox{
    width: 50%;
}


.cvc-realtor, .cvc-albinon{
    font-size: 17px;
    padding-top: 10px;
    text-align: center;
}

#cvc-century{
    width:50%;
   padding-top: 10px;
    margin: auto;
    display: block;
    //margin-left: 20px;
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width:1200px){


}

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {

  }


    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {

        .cvc-card {
    
            height: 100%;
            background-color: violet;
            background: url("https://cdn.pixabay.com/photo/2015/03/26/09/41/condominium-690086_1280.jpg")no-repeat center center fixed;
            background-size: cover;
            width: 100%;
            margin-left: 0px;
         }
    
         .cvc-title{
            margin: auto;
            width: 100%;
            padding: 10px;
            font-size: 30px;
            font-weight: 600px;
            padding-top:30px ; 
            color: whitesmoke;
        }
    
        
    .cvc-form{
        background-color: snow;
         width: 50% !important;
        padding:10px;
        height: 40%;
    }

    }


     /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {

  }

      /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .cvc-card {
    
        height: 100%;
        background-color: violet;
        background: url("https://cdn.pixabay.com/photo/2015/03/26/09/41/condominium-690086_1280.jpg")no-repeat center center fixed;
        background-size: cover;
        width: 100%;
      
     }

     .cvc-title{
        margin: auto;
        width: 100%;
        padding: 10px;
        font-size: 22px;
        font-weight: 600px;
        padding-top:30px ; 
        color: whitesmoke;
    }

    
.cvc-form{
    background-color: snow;
     width: 80% !important;
    padding:10px;
    height: 40%;
}

#cvc-search{
    width: 50%;

    position: relative;

left: 20%;

padding: 5px 2px;
font-size: 20px;

}


#cvc-century{
    width:50%;
    margin-top: 10px;
}

.cvc-checkbox{
    width: 20%;
}

    
    

}