
<mat-card class="cvc-card">
  <mat-card-header class="cvc-header">
    <mat-card-title class="cvc-title">Nice place!! Please verify the details</mat-card-title>
  </mat-card-header>
<mat-card-content class="cvc-content">
  <form class="cvc-form" role="form" [formGroup]="form">

<br>
<mat-form-field  appearance="fill" class="cvc-formfield">
<mat-label>Enter your name</mat-label>
<input matInput    formControlName="name" placeholder="Ex. John Doe">
</mat-form-field>
<br>
<br>
<mat-form-field appearance="fill" class="cvc-formfield">
<mat-label>Enter your email</mat-label>
<input matInput placeholder="test@gmail.com" formControlName="email" required>
<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>

<mat-form-field class="cvc-formfield" appearance="fill">
  <mat-label> Your Phone number</mat-label>
  <!-- <input matInput type="number" formControlName="phone" maxLength="11" size="11" required> -->
  <input matInput type="number"  formControlName="phone"  required pattern="^\d*[0-9]\d*$" maxlength="11">
</mat-form-field>

  <!-- <div class="cvc-formfield" appearance="fill"> <label> Your Phone number</label><ngx-intl-tel-input 
    [cssClass]="'custom'" 
    [preferredCountries]="['sg']" 
    [onlyCountries]="['ind', 'us', 'cad']"
    [enablePlaceholder]="true"
    [enableAutoCountrySelect]="true"
    name="phone" 
    formControlName="phone" required></ngx-intl-tel-input></div> -->

 <div class="cvc-formfield" appearance="fill">
  <re-captcha formControlName="recaptchaReactive"></re-captcha>
</div> 

<!-- 
<mat-checkbox class="cvc-checkbox">
  I agree to receive correspondence from local experts and know that I can withdraw consent at any time
    </mat-checkbox> -->

<br>
    <button type="submit" id="cvc-search" mat-raised-button [disabled]="!form.valid"  color="primary"  (click)="onSecondSubmit()">Calculate my value</button><br><br>
  </form>
</mat-card-content>
</mat-card>&nbsp;
<div class="container">
  <div class="row">
    <div class="col-md-3 cvc-realtor">
      <div>Your Report will be<br> prepared by a Realtor®.<br>Sam Farmaha Realtor®<br> Direct Line 416 951 2158.<br><a routerLink="/policy" target="_blank">Privacy Policy | Terms of Service</a></div> 


    </div>
    <div class="col-md-6">
      <img mat-card-image id="cvc-century" src="assets/images/century21-1.png" alt="Photo of Century21">  
      
  </div>
  <div class="col-md-3 cvc-albinon">
    <div> 1780 Albinon Road,<br> Unit #3 ON M9V 1C1<br>Call: 416-742-8000<br>Fax: 416-742-8001</div> 


</div>

</div>
</div>
 