.container{
    background-color:teal;
}


.custom-image{
    width:20%
}

.row{
    text-align: center;
}

.template{
    margin-top: 28px;
    width:100%;
    background-color:snow;
}

.cvc-formfield{
    width: 60%;
    font-size: 15px;
    color:black;
    font-weight: 500;
}


.label{
    color:black;
}

#title{
    font-size: 26px;
    margin-top: 8px;
}

