
<div class="container">
  <div class="row">
   <img class="custom-image" src='/assets/images/condovaluecheck.png'>
   <div class="row" id="title">Condo Value Check New reqistration</div>
 </div>
<div class="row" id="form1">
<form class="template">
       <mat-form-field appearance="fill" class="cvc-formfield">
           <mat-label class="label">Location</mat-label>
           <input matInput  type="text" required>
         </mat-form-field><br>
         <mat-form-field appearance="fill" class="cvc-formfield">
           <mat-label class="label">Unit#</mat-label>
           <input matInput  type="number" required>
         </mat-form-field><br>
         <mat-form-field appearance="fill" class="cvc-formfield">
           <mat-label class="label">Bedrooms</mat-label>
           <input matInput  type="number" required>
         </mat-form-field><br>
         <mat-form-field appearance="fill" class="cvc-formfield">
           <mat-label class="label">Bathrooms</mat-label>
           <input matInput  type="number" required>
         </mat-form-field><br>
         <mat-form-field appearance="fill" class="cvc-formfield">
           <mat-label class="label">Square Feet</mat-label>
           <input matInput  type="number" required>
         </mat-form-field><br>
         <mat-form-field appearance="fill" class="cvc-formfield">
          <mat-label class="label">Selling in</mat-label>
          <input matInput  type="number" required>
        </mat-form-field><br>
         <mat-form-field appearance="fill" class="cvc-formfield">
           <mat-label class="label">Name</mat-label>
           <input matInput  type="text" required>
         </mat-form-field><br>
         <mat-form-field appearance="fill" class="cvc-formfield">
           <mat-label class="label">Email</mat-label>
           <input matInput  type="email" required>
         </mat-form-field><br>
         
         <mat-form-field appearance="fill" class="cvc-formfield">
           <mat-label class="label">Phone Number</mat-label>
           <input matInput  type="tel" required>
         </mat-form-field><br>
   </form>
 </div>
 </div>