/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width:1200px){

 .cvc-content1{
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align:center;
    font-size: 50px;
    font-weight: 600px;

    color:whitesmoke;
}


.col-md-6{
      width: 50%;
      text-align: center;
      font-size: 10px;
      font-weight: 600px;
}



.cvc-subtitle{
    margin: auto;
    width: 100%;
    text-align:center ;
    font-size: 18px;
    font-weight: 400px;
    padding: 10px;
    color: whitesmoke;
    margin-top: 10px;
}



.cvc-content, .cvc-header, .container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%
}

.container{
   margin-top: 10px;

}

#cvc-sam{
    height:100px;
  
  }
  
  .cvc-content2{
   text-align: center;
   font-size: 18px;
   font-weight: 400;
  }
  .cvc-title3{
    font-style: italic;
  }

.cvc-title3, .cvc-subtitle3{
    text-align: center;
   
}

.cvc-subtitle3{
    font-size: 20px;
    font-weight: 500;

}

.cvc-content3{
    padding: 20px;
    text-align: center;
}

.cvc-button3{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

#cvc-century{
    width: 100%;
    height: 100px;
    padding: 0px;
    text-align: center;
    margin-top: 20%;

}


.cvc-subtitle22, .cvc-title22{
    text-align: center;
}

.cvc-subtitle22{
    color:black;
    font-size: 18px;
    font-weight: 400;
}

.col-md-3{
    text-align: center;
}


.custom-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0px;
}

.social-button{
    font-size: 20px;
    color: #0066ff;
    background-color: white;
    margin-top: 10px;
    text-align: center;
}





}

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {

    
   .cvc-content1{
        margin: auto;
        width: 100%;
        padding: 0px;
        text-align:center;
        font-size: 50px;
        font-weight: 600px;
        padding-top:0px ;
        color:whitesmoke;
    }
    
    
    .col-md-6{
          width: 50%;
          text-align: center;
          font-size: 10px;
          font-weight: 600px;
    }
    
    
    .cvc-subtitle{
        margin: auto;
        width: 100%;
        text-align:center ;
        padding: 10px;
        font-size: 18px;
        font-weight: 400px;
        padding-top:0px ;
        color: whitesmoke;
    }
    
    .cvc-request{
        text-align: center;
    }

    .cvc-condo{
        margin-top:-30px;
    }
    
    
    .cvc-content, .cvc-header, .container{
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%
    }
    
    .container{
       margin-top: 10px;
    
    }
    
    #cvc-sam{
        height:100px;
      
      }
      
      .cvc-content2{
       text-align: center;
       font-size: 18px;
       font-weight: 400;
      }
    
    
    .cvc-title3, .cvc-subtitle3{
        text-align: center;
    }
    
    .cvc-subtitle3{
        font-size: 20px;
        font-weight: 500;
    
    }
    
    .cvc-content3{
        padding: 20px;
        text-align: center;
    }
    
    .cvc-button3{
        font-size: 40px;
        font-weight: 600;
        text-align: center;
    }
    
    #cvc-century{
        width: 100%;
        height: 70px;
        padding: 0px;
        text-align: center;
    
    }
    
    
    .cvc-subtitle22, .cvc-title22{
        text-align: center;
    }
    
    .cvc-subtitle22{
        color:black;
        font-size: 18px;
        font-weight: 400;
    }
    
    
    .custom-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 0px;
    }
    
    .social-button{
        font-size: 20px;
        color: #0066ff;
        background-color: white;
        margin-top: 10px;
    }
    

  }


    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .cvc-request, .cvc-details{
            text-align: center;
            margin-top: 20px;
        }  

        #cvc-century{
            width: 50%;
            height: 70px;
            padding: 0px;
            text-align: center;
        
        }
        
    }


     /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .cvc-request{
        text-align: center;
        margin-top: 20px;
    }

    #cvc-century{
        width: 50%;
        height: 70px;
        padding: 0px;
        text-align: center;
    
    }
    

  }

      /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cvc-title,.cvc-content1{
        margin: auto;
        width: 100%;
        padding-bottom: 0px;
        text-align:center;
        font-size: 25px;
        font-weight: 600px;
        padding-top:0px ;
        color:whitesmoke;
    }


    .custom-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 38%;
        margin-top: 0px;
    }
    .cvc-subtitle22{
        color:black;
        font-size: 20px;
        font-weight: 400;
    }

    .cvc-content4{
        width: 50%;
        text-align: center;
        font-size: 10px;
        font-weight: 600px;
  }

  
.cvc-subtitle3{
    font-size: 15px;
    font-weight: 500;

}



.cvc-subtitle22, .cvc-title22{
    text-align: center;
    font-size: 18px;
}

.col-md-6{
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: 600px;
}

.cvc-request{
    text-align: center;
}
#cvc-century{
    width: 50%;
    height: 70px;
    padding: 0px;
    text-align: center;

}

.cvc-button3{
    text-align: center;
}
    
}