
<div class="container">
  <div class="row">
    <div class="col cvc-request" style="margin-top: 20px;"> 
      <h1>We have received your request, report will be prepared by a Realtor®</h1> <br>
      <h3 class="cvc-condo">We may seek other realtor’s help to evaluate your Condo, if the request generated outside of Sam Farmaha’s  Jurisdiction</h3>
      <hr>
    </div>
  </div>
</div>



<div class="container" >
  
  <div class="row cvc-details">
    <!-- <div class="col-md-3"><img class="custom-image" src='../../assets/images/samfarmaha.jpg'></div> -->
    
 <div class="col-md-4 cvc-details">
   <h2 style="text-align: center;">
    <strong>Sam Farmaha</strong><br>Call: 416-915-2158 <br>
     Email:farmaha@look.ca
    </h2>  <br> <!--<a  class="social-button" href="https://www.facebook.com/Squareonecondos/" target="_blank"><i class="fa fa-facebook" >&nbsp; &nbsp;</i></a>
   <a class="social-button" href="https://twitter.com/samfarmaha"target="_blank"><i class="fa fa-twitter" >&nbsp;</i></a> -->
             </div>
             <div class="col-md-4" style="text-align: center;"><img mat-card-image  id="cvc-century" src="assets/images/century21-1.png" alt="Photo of Century21"></div>
<div class="col-md-4">
  <h2 style="text-align: center;"> 1780 Albinon Road,<br> Unit #2 #3 TORONTO ONTARIO M9V1C1<br></h2>
 </div>


</div>
</div>


  <div class="container" id="container2" rowHeight="1:1">
   
    <div class="row" >
      <div class="col-md-4">
        <mat-card-subtitle class="cvc-subtitle22"><strong> Buying Help </strong></mat-card-subtitle><mat-card-content class="cvc-title22">
      If you’re buying, I can enhance your search process by helping you uncover what you may not have considered, whether it is schools, lifestyle, or the investment value of the property. </mat-card-content>
      </div> 
      <div class="col-md-4">
        <mat-card-subtitle class="cvc-subtitle22"><strong> Selling Help</strong></mat-card-subtitle><mat-card-content class="cvc-title22">If you’re selling, I will educate you on all market factors that may influence price, preparation and the promotion of your property so you can make an informed decision that best benefits your needs.</mat-card-content>
      </div> 
      <div class="col-md-4">
<mat-card-subtitle class="cvc-subtitle22"><strong> New Construction </strong></mat-card-subtitle><mat-card-content class="cvc-title22">The REALTOR’s® expertise helps facilitate the transaction, saving clients time and money and avoiding problems. Real estate is a regulated profession in Ontarioso all salespersons and brokers must be registered with the Real Estate Council of Ontario (RECO). </mat-card-content>
      </div>
    </div>
    </div>
    
<mat-card class="cvc-card3">
  <mat-card-title class="cvc-title3" style="text-align: center;">Thank you for vising my website I am here to provide my services and  just a phone call away, you are under no obligation.
  </mat-card-title>&nbsp;
  <mat-card-subtitle class="cvc-subtitle3">Disclaimer, Privacy Policy and Prohibited Use of the Site and Content. </mat-card-subtitle>
  <mat-card-content class="cvc-content3">
    *Not intended to solicit Buyers or Sellers already under contract, by using the Site and its mobile versions, and by subscribing to email services you agree to comply with the Agreement and confirm that you have a bona fide interest in buying, selling or leasing a residential property. If you do not agree to comply with the Agreement, you may not use the Site or subscribe to email services. You are prohibited Use of the Site and Content to Invade another person’s privacy or collect, disclose or store personal information about other persons, including telephone numbers, street addresses, email addresses, last names, etc. The materials on this website are provided “as is”. We do not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on this website or on any websites linked to this site. We have no control over the authenticity of the content on display. In this website Realtor word is used to describe a sales Representative, REALTOR® logo are certification marks owned by REALTOR® Canada Inc., a corporation jointly owned by the National Association of REALTORS® and CREA. The REALTOR® trademarks are used to identify real estate services provided by brokers and salespersons who are members of CREA and who accept and respect a strict Code of Ethics, and are required to meet consistent professional standards of business practice which is the consumer’s assurance of integrity. These Terms of Use shall be governed by the laws of Ontario, Canada. All users of this website are bound by these conditions and should therefore periodically visit this page to review any changes to these requirements. The users continued use of this website following the posting of any changes constitutes acceptance by the user of such modifications.  Sincere Thanks for your visit.
  </mat-card-content>
   <mat-card-actions class="cvc-button3">
    <button mat-button  style="font: size 25px; text-align: center;" routerLink='/'>Back to main page</button>
   </mat-card-actions>
</mat-card>