


<mat-card class="cvc-card">
  <mat-card-header class="cvc-header">
    <mat-card-title class="cvc-title">Nice place!! Is this place correct? </mat-card-title>
  </mat-card-header>
  <div class="container-fluid">
<mat-card-content class="cvc-content">
  <form class="cvc-form">
    <!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

  <agm-map  [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="sat" >
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
     <div class="flex-container" fxLayout="row" rowHeight="1:1">
    <div class="child-10" fxFlex="40"><button id="cvc-search" mat-raised-button style="background-color:	#0081c9; color: white;"  routerLink='/submit2' >Yes</button> </div> 
    <div class="child-20" fxFlex="40"><button id="cvc-search" mat-raised-button  color="warn"  routerLink='/' >No</button></div>     

  </div>
  
  </form>
</mat-card-content>
  </div>
</mat-card>&nbsp;

  
<div class="container">
  <div class="row">
    <div class="col-md-3 cvc-realtor">
      <div>Your Report will be<br> prepared by a Realtor®.<br>Sam Farmaha Realtor®<br> Direct Line 416 951 2158.<br><a routerLink="/policy" target="_blank">Privacy Policy | Terms of Service</a></div> 


    </div>
    <div class="col-md-6">
      <img mat-card-image id="cvc-century" src="assets/images/century21-1.png" alt="Photo of Century21">  
      
  </div>
  <div class="col-md-3 cvc-albinon">
    <div> 1780 Albinon Road,<br> Unit #3 ON M9V 1C1<br>Call: 416-742-8000<br>Fax: 416-742-8001</div> 


</div>

</div>
</div>
  