agm-map {
    height: 500px;
    width: 100%;
    justify-content: center;
  }

  .cvc-card {
    
    height: 100%;
    background-color: lightgray;
    background-size: cover;
    width: 100%;
  
 }

 .cvc-header{
     height: 10%;
 }
 .cvc-title{
    margin: auto;
    width: 100%;
    padding: 1px;
    font-size: 35px;
    font-weight: 600px;
    padding-top:10px ;
    color: black;
}

.cvc-content, .cvc-header{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;

}


#mySelectId{
    width: 50%;
    font-size: 18px;
}

#cvc-search{
    width: 30%;
    position: relative;

margin-top: 10px;
padding: 2px 2px;
font-size: 20px;

}


.test-col{
    font-size: 15px;
    color:black;
}


#cvc-century{
    width:50%;
    padding-top: 10px;
}

.col-md-6{
    text-align: center;
    max-width: 100%;

}

.cvc-report{
    padding-top: 1px;
}

.cvc-realtor, .cvc-albinon{
    font-size: 17px;
    padding-top: 10px;
    text-align: center;
}

#cvc-century{
    width:50%;
   padding-top: 10px;
    margin: auto;
    display: block;
    //margin-left: 20px;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width:1200px){
   
    .col-md-6{
        text-align: center;
        max-width: 100%;
        margin-top: 5px;
    
    }  

   .cvc-form{
       width: 80%;

    }


}

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {

  }


    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {

    }


     /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
   
    .col-md-6{
        text-align: center;
        max-width: 100%;
        margin-top: 5px;
    
    }




  }

      /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  
    .col-md-6{
        text-align: center;
        max-width: 100%;
        margin-top: 10px;
    
    }

    .cvc-title{
        margin: auto;
        width: 100%;
        padding: 1px;
        font-size: 25px;
        font-weight: 600px;
        padding-top:10px ;
        color: whitesmoke;
    }

    .cvc-realtor{
        font-size: 18px;
        padding-top: 10px;
    }
   

    #cvc-century{
        width:50%;
        padding-top: 20px;
    }

    .cvc-report{
        padding-top: 10px;
    }


}
