/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }


.pac-target-input, #unit{
    width: 100% !important;
    padding: 15px 10px !important;
    font-size: 18px !important;
      margin-left: 0px !important;
}

.mat-card-header .mat-card-subtitle:not(:first-child) {
  margin-top: 20px !important;
}


.mat-card-header {
  margin-top: 0px;
}

.ng-valid{
  width:50%;
}

.child-10, .child-20{
  text-align: center !important;
  max-width: 100% !important;

}

