
<div class="test-card">
  <div class="container cvc-container">
  <div class="test-header">
    <div class="test-title">ATTENTION CONDO SELLERS<br/>YOUR CONDO MAY BE WORTH MORE THAN YOU THINK<BR/>FIND OUT WHAT IS YOUR CONDO REALLY WORTH<br/>Just Fill The Home Evaluation Form Below</div>
  <div class="test-subtitle">Free service with no obligations</div>
  </div>
  
<div class="form-group  form1">
  <form class="cvc-form1">
    
    <input class="cvc-address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" required />
    <div class="test-address">Your place is: {{formattedAddress}}</div>
    <br/>
    <input id="unit" type = "number"  [formControl]="unit" name = "unit" placeholder = "Unit#" required>
   
    <br/>
    <button  type="submit" class="test-search" mat-raised-button  color="primary" (click)="onButtonClick()">Click to proceed</button>
  </form>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 cvc-report">
      <h1 style="font-weight: 500; margin-top: 10px;">Your Report will be prepared by a Realtor®. </h1>
      <h3> I may share your info with other Realtor® to help generate the report, only if request is generated outside of my Juristiction.<br> If you disagree or have an issue sharing your info with other Realtor®, then please do not fill the property evaluation form, sincere thanks for your visit. </h3>
    </div>
  </div>
 
    <div class="row">
      <div class="col-md-3"><img class="custom-image" src='../../assets/images/samfarmaha.jpg'></div>
    <div class="col-md-3 cvc-realtor" style="margin-top: 30px;">
      <div>Sam Farmaha Realtor®<br> Direct Line 416 951 2158.<br>Cell Phone 519 760 1456<a routerLink="/policy" target="_blank"><br>Privacy Policy | Terms of Service</a></div> 


    </div>
    <div class="col-md-3"  style="margin-top: 30px;">
      <img mat-card-image  id="cvc-century" src="assets/images/century21-1.png" alt="Photo of Century21">  
      
  </div>
  <div class="col-md-3 cvc-albinon" style="margin-top: 30px;">
    <div> 1780 Albinon Road,<br> Unit #2 #3 TORONTO <br> ONTARIO M9V1C1</div> 


</div>

</div>

<div class="row">
  <h3 style="text-align: center; font-style: italic; margin-top: 10px;">Thank you for vising my website I am here to provide my services and  just a phone call away, you are under no obligation.</h3>
</div>
</div>