.test-header{
    margin: auto;
    width: 70%;
    padding: 1px;
    text-align: center;
    margin-top: 5%;
}

.cvc-report{
    text-align: center;
}


.test-content{
   display:flex;
   justify-content: center;
   align-items: center;
   width:100%
}

.cvc-form1{
    margin:auto ;
    width: 50%;
   // border-radius: 30px;
   border: none;
   margin-top: 10%;
   vertical-align: middle;


}
 .cvc-container{
     margin: auto;
     position: relative;
 }

#unit{
    margin-top: -10px;
    //border-radius: 30px;
    //border: none;
}
.test-address{
    margin-left: 10px;
    //border: none;
    //border-radius: 30px;
}

.test-search{
position: relative;
top: 50%;
left: 30%;
margin-top: 10px;
padding: 5px 2px;
font-size: 20px;
width: 40%;
background-color: 	#0081c9;
}

.test-card {
    
    height: 50%;
    
    background: url("https://cdn.pixabay.com/photo/2015/09/09/21/36/apartment-block-933538_1280.jpg")no-repeat center center fixed;
    background-size: cover;
 }

 .test-title{
     font-size: 22px;
     color: white;
     font-weight:500px;
     text-align: center;
     padding: 30px;
     font-family: "Poppins";
     margin-left: 20px;
    // margin-top: 50px;

 }

 .cvc-realtor, .cvc-albinon{
     font-size: 17px;
     padding-top: 10px;
     text-align: center;
 }

 .test-subtitle{
    font-size: 25px;
    color: white;
    font-weight:500px;
    text-align: center;
    padding: 10px;
    font-family: "Poppins";
 }

 
 .cvc-address{
    font-size: 25px;
    color:black;
    font-weight:500px;
    text-align:left;
    //border-radius: 30px;
    padding: 10px;
    font-family: "Poppins";
    margin-left: 15px;
    //border: none;
 }



#cvc-century, .custom-image{
    width:100%;
   padding-top: 10px;
    margin: auto;
    display: block;
    //margin-left: 20px;
}

.child-1{
    text-align: center;
}


// .flex-container{
//     background-color:whitesmoke;
//     text-align: center;
//     padding:1px;
//     width: 100%;
//   }
  
  
  #cvc-century{
      width:100%;
  }



.col-md-6{
    text-align: center;
    max-width: 100%;
    margin-top: 10px;

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width:1200px){
    .custom-image{
    width: 90%;
    margin: auto;
    display: block;
    }
    .test-title{
        font-size: 22px;
    }
    .test-subtitle{
        font-size: 20px;
    }
    .test-card{
        height: 50%;
    }
    .cvc-form1{
       margin:auto ;
       width: 50%;
   }
   .test-search{
       position: relative;
       top: 50%;
       left: 30%;
       margin-top: 10px;
       padding: 2px 1px;
       font-size: 20px;
       width: 40%;
       }
    }

    /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .custom-image{
        width: 70%
        }
        .test-title{
            font-size: 20px;
            padding-bottom: 5px;
            line-height: 1.0;
            
        }
        .test-subtitle{
            font-size: 18px;
        }
        .cvc-address{
            font-size: 25px;
            color:black;
            font-weight:500px;
            text-align:left;
            padding: 10px;
            font-family: "Poppins";
            margin-left: 15px;
         }
         .test-card{
             height: 70%;

         }
         .test-header{
            margin: auto;
            width: 90%;
            padding: 1px;
            text-align: center;
        }
        
         .cvc-form1{
            margin:auto ;
            width: 70%;
        }
        .test-search{
            position: relative;
            top: 50%;
            left: 20%;
            margin-top: 10px;
            padding: 5px 2px;
            font-size: 20px;
            width: 60%;
            }

    }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .custom-image{
        width: 70%
        }
        .test-title{
            font-size: 21px;
        }
        .test-subtitle{
            font-size: 15px;
        }
        .test-card{
            height: 70%;
        }
        .cvc-form1{
           margin:auto ;
           width: 50%;
       }
       .test-search{
           position: relative;
           top: 50%;
           left: 20%;
           margin-top: 10px;
           padding: 2px 1px;
           font-size: 20px;
           width: 60%;
           }

    }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .custom-image{
        width: 70%
        }
        .test-title{
            font-size: 26px;
        }
        .test-subtitle{
            font-size: 20px;
        }
        .test-card{
            height: 70%;
        }
        .cvc-form1{
           margin:auto ;
           width: 50%;
       }
       .test-search{
           position: relative;
           top: 50%;
           left: 20%;
           margin-top: 10px;
           padding: 2px 1px;
           font-size: 20px;
           width: 60%;
           }

    }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .custom-image{
        width: 70%
        }
        .test-title{
            font-size: 25px;
            line-height: 1.0;
        }
        .test-subtitle{
            font-size: 20px;
        }
        .test-card{
            height: 80%;
        }
        .cvc-form1{
           margin:auto ;
           width: 50%;
       }
       .test-search{
           position: relative;
           top: 50%;
           left: 30%;
           margin-top: 10px;
           padding: 5px 2px;
           font-size: 20px;
           width: 40%;
           }

    }

