<div class="container">
    <div class="row" style="margin-top: 5px;">
        <img mat-card-image  id="cvc-policy" src="assets/images/policy.png">  
    </div>
    <div class="row">
        <div class="col heading" style="text-align: center; color: darkblue;">
            <h1>Disclaimer, Privacy Policy and Prohibited Use of the Site and Content.</h1>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12 cvc-report">
              <h2 style="font-weight: 400;text-align: center;">Your Report will be prepared by a Realtor®. </h2>
              <p><i class="fas fa-angle-double-right"> </i>&nbsp;I may seek your info with other Realtor® to help generate the report, if request is generated outside of my Juristiction.If you disagree or have an issue sharing your info with other Realtor®, then please do not fill the property evaluation form, sincere thanks for your visit.<br><i class="fas fa-angle-double-right"></i>&nbsp;*Not intended to solicit Buyers or Sellers already under contract, by using the Site and its mobile versions, and by subscribing to email services you agree to comply with the Agreement and confirm that you have a bona fide interest in buying, selling or leasing a residential property.<br> <i class="fas fa-angle-double-right"></i>&nbsp;If you do not agree to comply with the Agreement, you may not use the Site or subscribe to email services. You are prohibited Use of the Site and Content to Invade another person’s privacy or collect, disclose or store personal information about other persons, including telephone numbers, street addresses, email addresses, last names, etc. The materials on this website are provided “as is”. <br><i class="fas fa-angle-double-right"></i> &nbsp;We do not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on this website or on any websites linked to this site. We have no control over the authenticity of the content on display. In this website Realtor word is used to describe a sales Representative, REALTOR® logo are certification marks owned by REALTOR® Canada Inc., a corporation jointly owned by the National Association of REALTORS® and CREA.<br><i class="fas fa-angle-double-right"></i> &nbsp;The REALTOR® trademarks are used to identify real estate services provided by brokers and salespersons who are members of CREA and who accept and respect a strict Code of Ethics, and are required to meet consistent professional standards of business practice which is the consumer’s assurance of integrity. These Terms of Use shall be governed by the laws of Ontario, Canada.<br> <i class="fas fa-angle-double-right"></i>&nbsp;All users of this website are bound by these conditions and should therefore periodically visit this page to review any changes to these requirements. The users continued use of this website following the posting of any changes constitutes acceptance by the user of such modifications.  Sincere Thanks for your visit.</p>
            </div>
   
    </div>
       <div class="row"  style="text-align: center;" >
           <div class="col" >
            <a mat-button style="font: size 30px;" routerLink='/' >Back to main page</a>
           </div>
       </div>
</div>
