

.heading{
    font-size: 30px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
}


.content{
    font-size: 14px;
}

#cvc-policy{
    width: 100%;
    display: block;
}

.fa-angle-double-right{
    font-size: 20px;
}